<app-loading *ngIf="loading"></app-loading>

<div
  class="wrapper"
  mat-elevation-z8
  fxLayout="row"
  fxLayoutAlign="end end"
  fxLayoutGap="3%"
>
  <button fxFlex="15%" (click)="agregarInformacion()">
    Agregar información
  </button>
</div>

<div fxLayout="row" fxLayout.xs="column">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate of categoriasLista; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ cate.nombre }}
        </td>
        <td>{{ cate.descripcion }}</td>
        <td>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Borrar"
            style="margin-right: 15px"
            (click)="borrar(cate)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Editar"
            style="margin-right: 15px"
            (click)="editar(editarModal, cate)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ver"
            style="margin-right: 15px"
            (click)="ver(verModal, cate)"
          >
            <i class="bi bi-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #verModal let-modal>
    <app-categoria-ver
      [categoria]="categoria"
      [modal]="modalService"
    ></app-categoria-ver>
  </ng-template>
  <ng-template #editarModal let-modal>
    <app-categoria-editar
      [categoriaInput]="categoria"
      [modal]="modalService"
    ></app-categoria-editar>
  </ng-template>
</div>
