<app-loading *ngIf="loading"></app-loading>

<div
  class="wrapper"
  mat-elevation-z8
  fxLayout="row"
  fxLayoutAlign="end end"
  fxLayoutGap="3%"
>
  <button fxFlex="15%" color="accent" (click)="agregarInformacion()">
    Agregar información
  </button>
</div>

<div fxLayout="column" fxLayout.xs="column">
  <form>
    <div class="mb-3 row">
      <label
        for="table-filtering-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Buscar categoría:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-filtering-search"
          class="form-control"
          type="text"
          [formControl]="filter"
        />
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoría</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lib of libros$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img
            [src]="ruta + lib.portada"
            class="me-2"
            style="width: 100px; height: 80px"
          />

          <ngb-highlight
            [result]="lib.titulo"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="lib.autor"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="lib.categoria"
            [term]="filter.value"
          ></ngb-highlight>
        </td>
        <td>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Borrar"
            style="margin-right: 15px"
            (click)="borrar(lib)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Editar"
            style="margin-right: 15px"
            (click)="editar(editarModal,lib)"
          >
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Ver"
            style="margin-right: 15px"
            (click)="ver(verModal,lib)"
          >
            <i class="bi bi-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #verModal let-modal>
    <app-libro-ver
      [libro]="libro"
      [modal]="modalService"
    ></app-libro-ver>
  </ng-template>
  <ng-template #editarModal let-modal>
    <app-libro-editar
      [libroInput]="libro"
      [modal]="modalService"
    ></app-libro-editar>
  </ng-template>
</div>
