
  <ul ngbNav #nav="ngbNav" class="nav-tabs bg-dark">
    <li ngbNavItem>
      <a ngbNavLink routerLink="libros">Libros</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="categorias">Categorías</a>
    </li>
  </ul>