<div class="modal-header">
    <h4 class="modal-title">Agregar libro</h4>
</div>
<div class="modal-body">
 
    <app-libro-formulario (submitForm)="crear($event)"></app-libro-formulario>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cerrar</button>
</div>