<div class="loading-screen-wrapper">
    <div class="loading-screen-icon">
        <div class="container animation-2">
            <div class="shape shape1"></div>
            <div class="shape shape2"></div>
            <div class="shape shape3"></div>
            <div class="shape shape4"></div>
        </div>
    </div>
  </div>
