
    <div class="modal-header">
        <h4 class="modal-title">Ver libro</h4>
    </div>
    <div class="modal-body">
     
        <div >
            <label for="titulo" class="small mb-0">Título:</label>
            {{libro.titulo}}
          </div>
        
          <div >
            <label for="autor" class="small mb-0">Autor:</label>
            {{libro.autor}}
          </div> 
          <div >
            <label for="categoria" class="small mb-0">Categoría:</label>
            {{libro.categoria}}
          </div> 
          <div >
            <label for="portada" class="small mb-0">Portada:</label>
            <img  [src]="ruta + libro.portada" style="width: 400px;" >
          </div> 

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
    </div>