<form [formGroup]="libroForm" novalidate (submit)="onSubmit()" class="pm-form">
    <div class="form-group">
      <label for="titulo" class="small mb-0">Título:</label>
      <input type="text" class="form-control form-control-sm bg-light" formControlName="titulo" id="titulo"
        [ngClass]="{'is-invalid': libroForm.get('titulo').invalid }" placeholder="*opción obligatoria"
        required>
      <div class="invalid-feedback" *ngIf="libroForm.controls['titulo'].hasError('required')">
        El titulo es requerido.
      </div>
      <div class="invalid-feedback" *ngIf="libroForm.controls['titulo'].hasError('maxlength')">
        Menor a 50 caracteres.

      </div>
    </div>
  
    <div class="form-group">
      <label for="autor" class="small mb-0">Autor:</label>
      <input type="text" class="form-control form-control-sm bg-light" formControlName="autor" id="autor"
        [ngClass]="{'is-invalid': libroForm.get('autor').invalid}" placeholder="*opción obligatoria"
       >
      <div class="invalid-feedback" *ngIf="libroForm.controls['autor'].hasError('required')">
        El autor es requerido.
      </div>
      <div class="invalid-feedback" *ngIf="libroForm.controls['autor'].hasError('maxlength')">
        Menor a 50 caracteres.

      </div>
    </div>

    <div class="col-12 col-md-6 mb-2 mt-4">
        <div class="form-group">
          <label for="categorias_id" class="small mb-0">Categoría:</label>
          <div *ngIf="libroCategoria;else sinLibro">
            <a >{{libroCategoria.nombre}}</a>


          </div>
          <ng-template #sinLibro>
            <select  class="custom-select custom-select-sm text-uppercase" style="width: 50%; margin-left: 5px;" name="categorias_id" id="categorias_id"
            formControlName="categorias_id" (change)="onSelectionChange($event);" [ngClass]="{'is-invalid': f['categorias_id'].invalid}">
            <option [value]="t.id" *ngFor="let t of categoriasLista; let i = index">{{t.nombre | uppercase}}</option>
          </select>
          <div class="text-danger small mt-1" *ngIf="f['categorias_id'].invalid">
            Categoria requerida
          </div>

          </ng-template>
          
        </div>
      </div>
      <div class="">
        <div class="form-group">
          <label for="categoria_id" class="small mb-0 me-2">Portada:</label>
          <span class="file-name">{{archivo ? archivo.name: getName(portadaPlaceHolder)}}</span>

          
        </div>
        <div>
          <button type="button" mat-raised-button (click)="fileInput.click()">Escoge archivo</button>
          <input hidden (change)="uploadFile($event)" #fileInput type="file" accept="image/*" formControlName="portada"
          [ngClass]="{'is-invalid': f['categorias_id'].invalid}">
          <div class="text-danger small mt-1" *ngIf="f['portada'].invalid">
            portada requerida
          </div>
        </div>
      </div>
  
    <div class="d-flex mt-5">
      
      <div>
        <button class="btn btn-outline-secondary btn-sm mr-2 me-2" type="button" (click)="borrarFormulario()" ><i
            class="bi bi-trash2"></i>&nbsp;Limpiar cambios</button>
                <button [disabled]="libroForm.invalid" class="btn btn-primary btn-sm" type="submit"><i class="bi bi-save"
                    ></i>&nbsp;Guardar</button>
       
      </div>
    </div>
  </form>
  