<form [formGroup]="categoriaForm" novalidate>
    <div class="form-group">
      <label for="nombre" class="small mb-0">Nombre:</label>
      <input type="text" class="form-control form-control-sm bg-light" formControlName="nombre" id="nombre"
        [ngClass]="{'is-invalid': categoriaForm.get('nombre').invalid}" placeholder="*opción obligatoria">
      <div class="invalid-feedback" *ngIf="categoriaForm.controls['nombre'].hasError('required')">
        El Nombre es requerido.
      </div>
      <div class="invalid-feedback" *ngIf="categoriaForm.controls['nombre'].hasError('maxlength')">
        Menor a 20 caracteres.

      </div>
    </div>
  
    <div class="form-group">
      <label for="descripcion" class="small mb-0">Descripción:</label>
      <input type="text" class="form-control form-control-sm bg-light" formControlName="descripcion" id="descripcion"
        [ngClass]="{'is-invalid': categoriaForm.get('descripcion').invalid}" placeholder="*opción obligatoria">
      <div class="invalid-feedback" *ngIf="categoriaForm.controls['descripcion'].hasError('required')">
        La descripción es requerida.
      </div>
      <div class="invalid-feedback" *ngIf="categoriaForm.controls['descripcion'].hasError('maxlength')">
        Menor a 100 caracteres.

      </div>
    </div>
  
    <div class="d-flex justify-content-between mt-5">
      <div>
        <button class="btn btn-outline-secondary btn-sm mr-2 me-2" type="button" (click)="borrarFormulario()"><i
            class="bi bi-trash2"></i>&nbsp;Limpiar cambios</button>
        <button class="btn btn-primary btn-sm" type="submit" [disabled]="categoriaForm.invalid" (click)="onSubmit()">
            <i class="bi bi-save" 
            ></i>&nbsp;Guardar</button>
      </div>
    </div>
  </form>
  