
    <div class="modal-header">
        <h4 class="modal-title">Ver categoría</h4>
    </div>
    <div class="modal-body">
     
        <div >
            <label for="nombre" class="small mb-0">Nombre:</label>
            {{categoria.nombre}}

            
          </div>
        
          <div >
            <label for="descripcion" class="small mb-0">Descripción:</label>
            {{categoria.descripcion}}

            
          </div>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
    </div>