<app-loading *ngIf="loading"></app-loading>

<div class="container art-height-min">
    <div class="row justify-content-center py-3">
      <div class="col-12">
        <div class="card pm-card shadow" >
          <div class="card-header">
            <h6 class="m-0 text-uppercase" style="font-size : larger">Editar libro</h6>
          </div>
          <div class="card-body">
            <app-libro-formulario *ngIf="libroInput && libro" [libro]="libro" (submitForm)="crear($event)">
            </app-libro-formulario>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cerrar</button>
  </div>
  </div>
